.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*css added*/
.search-page {
  background-color: #F3E5F5;
  padding: 20px;
  text-align: center;
}

.search-button {
  background-color: #9C27B0;
  color: #fff;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 4px;
  margin-top: 20px;
}

.loading {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.search-results {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  font-size: 18px;
}







/* .faq-section {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    li {
      margin-bottom: 10px;
    }
  }
}

.contact-section {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  p { 
    font-size: 18px;
    margin-bottom: 10px;
}
} */


